.root {
    // background-color: green;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.formContainer {
    // background-color: green;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    // background-color: #dddddd;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input {
    // background-color: #cccccc;
    width: 100%;
    height: 50px;
    border: none;
    font-size: large;
    border-radius: 10px;
    padding-left: 10px;
}

.link {
    color: #5555ff;
}