.root {
    background-color: #aaffaa;
    height: 30px;
    display: flex;
    flex-direction: row-reverse;
}

.button {
    background-color: #aaffaa;
    width: 35px;
    border: none;

    &:hover {
        background-color: #88dd88;
    }
}

.closeButton {
    &:hover {
        background-color: red;
        color: #ffffff;
    }
}