.button {
    width: 100%;
    height: 50px;
    border: none;
    font-size: large;
    border-radius: 10px;
    padding-left: 10px;
    background-color: #5555ff;
    position: relative;
    color: #ffffff;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #333333;
        opacity: 0;
        transition: all 0.2s;
    }

    &:hover::before {
        opacity: 0.15;
    }

    &:hover {
        font-size: larger;
        cursor: pointer;
    }
}

.loginButtonText {
    position: relative;
    z-index: 2;
}