.root {
    height: 30px;
    display: flex;
    flex-direction: row-reverse;
    -webkit-app-region: drag;
}

.button {
    background: none;
    width: 35px;
    height: 30px;
    border: none;
    position: relative;
    transition: all 0.2s;
    color: #888888;
    -webkit-app-region: no-drag;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: #333333;
        opacity: 0;
        transition: all 0.2s;
    }

    &:hover::before {
        opacity: 0.15;
    }

    &:hover {
        color: #000000;
    }
}

.FontAwesomeIcon {
    position: relative;
    z-index: 2;
}

.closeButton {
    &:hover {
        background-color: red;
        color: #ffffff;
    }
}