body {
    padding: 0;
    margin: 0;
}

/* 跟标签 */
#root {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#contactsList {
    width: 20%;
    height: 100%;
    border: 1px solid black;
    overflow: auto;
    box-sizing: border-box;
}

#chatWindow {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

/* 聊天记录区域 */
#chatRecordArea {
    height: 100%;
    border: 1px solid black;
    overflow: auto;
    box-sizing: border-box;
}

#messageInputArea {
    display: flex;
    flex-direction: row;
}

/* 输入区域 */
#inputMessage {
    flex: 1;
    margin-top: auto;
}

#chatHeader {
    
}