body {
    padding: 0;
    margin: 0;
}

/* 跟标签 */
#root {
    height: 100vh;
}

/* 聊天记录区域 */
#chatRecordArea {
    height: 90%;
    border: 1px solid black;
    overflow: auto;
}

/* 输入区域 */
#inputMessage {
    width: 90%;
}